*
{
	padding: 0;
	margin: 0;
}

body
{
	background-image: url(images/bg.jpg);
}

.show
{
    display: none;
}

header 
{
    height:55px;
    background:url(images/menubg2.jpg);
    margin:20px 250px 35px 240px;
    border-radius:30px;
    overflow:hidden;
    opacity:0.5;
}

header:hover 
{
    opacity:0.9;    
}

header li 
{
    float:left;
    list-style:none;
    padding:16px 130px 0 130px;
}

header li a 
{
    font:23px Impact, fantasy;
    text-transform:uppercase;
    text-decoration:none;
    color: #FF65DE;
}

header li a:hover 
{
    text-shadow:0 1px 4px #d0e7fc;
}

aside
{
    width:200px;
    height:auto;
    float:left;
    opacity:0.7;
}

aside:hover 
{
    opacity:0.9;
}

.scroll 
{
    width:190px;
    height:250px;
    overflow: auto;
    background:rgba(248,247,247,0.7);
    padding:5px 0 0 5px;
    margin:0 0 0 5px;
}

.scroll ul li 
{
    font:15px Arial;
    padding:4px 0;
}

.scroll ul li a 
{
    text-decoration:none;
}

.scroll ul li a:hover 
{
    color:#015ac9;
}

.scroll ul li a, #text a, .box-link a 
{
    color:#002c62;
    font:15px Arial;
}

#sait 
{
	height: 278px;
	width: 205px;
	background: #055d65;
	margin: 0 0 5px 0;
	border-radius: 8px;
	display: flex;
	align-items: center;
}

main
{
	height:auto;
	margin-left:230px;
	margin-right:220px;
	padding:20px 0 50px 0;
	background:rgba(255,255,255,0.8);
	border-radius: 20px;
}